@media screen and (max-width: 686px) {
  .booking-card,
  .room-card {
    min-width: 60%;
  }

  .big-room-card {
    margin-left: 20%;
  }

  body .booking-cards-section {
    height: 76%;
  }

  body .error-message {
    margin-left: 3rem;
  }

  .card-section-title {
    font-size: 2.2rem;
  }

  .dashboard {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1.5fr;
  }

  .total-spent-title {
    font-size: 1.6rem;
  }

}

@media screen and (max-width: 410px) {
  .dashboard {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 2fr;
  }

  .card-section-title {
    font-size: 1.6rem;
  }

  .total-spent-title {
    font-size: 1.2rem;
  }
}
