.login-title {
  font-size: 9vw;
}

.total-spent-title {
  font-size: 1.7rem;
  overflow: hidden;
}

.card-section-title {
  font-size: 2.5rem;
  text-transform: capitalize;
  margin-left: 2%;
}

.error-message {
  font-size: 2rem;
}

.calendar-input-label {
  font-size: 5rem;
  margin-bottom: 4%;
}

.filter-section-title {
  font-size: 1.7rem;
  margin-top: 5%;
  margin-bottom: 4%;
}

.app-title {
  color: $light-fontcolor;
  font-size: 1.4rem;
}
