//Colors
$primary-neutralcolor: #f1e5bd;
$secondary-neutralcolor: #443B36;
$primary-accentcolor: #081C3B;
$secondary-accentcolor: #A6D9F7;

//Font colors
$light-fontcolor: #ffffff;
$dark-fontcolor: black;
