//Colors
$primary-neutralcolor: #f1e5bd;///tan
$tertiary-accentcolor: #3B8FBF;//
$primary-accentcolor: #081C3B;
$secondary-accentcolor: #A6D9F7;

//Font colors
$light-fontcolor: #ffffff;
$dark-fontcolor: black;
