/* This is an example of using Sass, otherwise plain CSS works too*/
$primary-background: white;
@import '_reset.scss';
@import 'flatpickr/dist/flatpickr.css';

body {
  background: $primary-background;
}

header {
  height: 10vh;
}

main {
  height: 90vh;
}

header {
  background-color: lightgreen;
  display: flex;
  justify-content: space-between;
  padding-left: 2%;
  padding-right: 2%;
  align-items: center;
}

.add-new-bookings-button {
  height: 50%;
}

.dashboard {
  height: 100%;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "future future future totalSpent"
    "past past past totalSpent"
}

.booking-cards-section {
  height: 95%;
  display: flex;
  justify-content: space-around;
  overflow-x: scroll;
  grid-column-gap: 2rem;
}

.booking-card {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-width: 25%;
}

.future-bookings {
  background-color: lightyellow;
  grid-area: future;
}

.past-bookings {
  background-color: lightblue;
  grid-area: past;
}

.total-spent {
  background-color: lightpink;
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: totalSpent;
  text-align: center;
}

.calendar-view {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  // width: 100%;
}

.searchCalendar {

}

.available-room-view {
  height: 100%;
}

.available-cards-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2rem;
}

.hide {
  display: none;
}
